.body_css {
    background: url(img/phoenix.png) no-repeat center / cover;
    background-attachment: fixed;
    margin: 0;
  }


  .fadein {
    text-align: center;
    margin-top: 5em;
    margin-bottom: 5em;
    color: rgb(0, 0, 0);
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes fadein {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
  }

  .fadein_content {
    text-align: left;
    margin-top: 5em;
    margin-left: 30em;
    color: rgb(0, 0, 0);
    opacity: 0;
    animation-name: fadein;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
  }

  @keyframes fadein {
    0% {
       opacity: 0;
       transform: translateY(20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
  }
  .contents {
    width: 90%;
    max-width: 500px;
    height: auto;
    min-height:1.5vh;
    margin: 350px auto 100px;

  .content {
    width: 100%;
    height: 100px;
    opacity: 0;
    transition-duration: 0.5s;
    transition-property: opacity, transform;

    & + .content {
      margin-top: 50px;
    }

    &:first-of-type {
      background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    }

    &:nth-of-type(2) {
      background-image: linear-gradient(to top, #20E2D7 0%, #F9FEA5 100%);
    }

    &.is-scrollIn {
      opacity: 1;
      transform: translate(0, -50px);
    }
  }
}
